@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
	color: #bcbcbc;
  overflow: hidden;
}

body {
  background-color: #060606;
}
.playgroundMain {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.game2048Left,
.game2048ScoreHeader,
.game2048Score {
	text-align: center;
	font-size: 20px;
	line-height: 35px;
}

.game2048Left > span {
	font-size: 30px;
}

.game2048Wrapper {
	display: flex;
	align-items: center;
	gap: 25px;
}
.game2048Right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game2048Button {
	width: 140px;
	height: 45px;
	background-color: transparent;
	border: 1px solid #bcbcbc;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	color: #bcbcbc;
}

.game2048InWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.game2048 {
	margin-top: 20px;
	padding: 10px;
	background-color: #bcbcbc;
	display: grid;
	justify-content: center;
	grid-template-columns: 80px 80px 80px 80px;
	gap: 5px;
}

.cell {
	width: 80px;
	height: 80px;
	background-color: #707070;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.cellx2 {
	background-color: rgb(110, 110, 11);
}
.cellx4 {
	background-color: rgb(110, 84, 11);
}
.cellx8 {
	background-color: rgb(65, 110, 11);
}
.cellx16 {
	background-color: rgb(11, 110, 57);
}
.cellx32 {
	background-color: rgb(11, 100, 110);
}
.cellx64 {
	background-color: rgb(11, 52, 110);
}
.cellx128 {
	background-color: rgb(36, 11, 110);
}
.cellx256 {
	background-color: rgb(79, 11, 110);
}
.cellx512 {
	background-color: rgb(110, 11, 87);
}
.cellx1024 {
	background-color: rgb(110, 11, 67);
}
.cellx2048 {
	background-color: rgb(110, 11, 32);
}
